{% extends "base.html.twig" %}

{% block title %} mon blog: article détail {% endblock %}

{% block body %}
    <h1>Article (détail)</h1>
    <article> 
    {# on récupère le titre de l'article #}
        <h2> {{ article.title }}</h2>
        <div class="metainfo">écrit le {{ article.createdAt | date("d/m/Y à H:i")}} dans la catégorie est : {{ article.category.name }}</div>
        <img src="{{ article.image }}" alt="">
        {{ article.content | raw }}
        <a class="btn btn-danger" href="{{ path('delete_art', {'id': article.id}) }}">EFFACER</a>
        <a class="btn btn-info" href="{{ path('edit_article',{'id': article.id}) }}">Modifier</a>
        {# <a class="btn btn-success" href="{{ path('add_comment',{'id': article.id}) }}">Ajouter commentaire</a> #}
    </article>
<hr>
<section id="commentaire">
    <h2>Les commentaires</h2>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="col-3">
                {{ comment.author }} (<small> {{ comment.createdAt  | date('d/m/Y à H:i') }}</small>)
            </div>
            <div class="col">
            {{ comment.content | raw }}
            </div>
        </div>
    {% endfor %}
    <hr>


	<h2>Ajouter Commentaire</h2>



	

    	{{ form_start(formComment) }}
	{# {{ form_row(formComment.author, {'label' :"Votre nom", 'attr':{'placeholder':"Entrez votre nom"}}) }} #}
	{{ form_row(formComment.content, {'label' :"Votre commentaire", 'attr':{'placeholder':"Entrez le contenu du commentaire"}}) }}
	<button type="submit" class="btn btn-primary">Poster votre commentaire</button>
	{{ form_end(formComment) }}
</section>

{% endblock %}