{% extends "base.html.twig" %}

{% block title %}
	Mon blog:
	{% if mode %} 
		<h2>Modif</h2>
	{% else %}
		<h2>Creation</h2>
	{% endif %}
{% endblock %}

{% block body %}
	{% if mode %} 
		<h2>Modification article</h2>
	{% else %}
		<h2>Creation article</h2>
	{% endif %}
	{# <h2>{{ operation }}</h2> #}
	{#{{ form(formArticle)}}#}


	{{ form_start(formArticle) }}

	{# {{ form_widget(formArticle) }} #}

	{{ form_row(formArticle.title, {'attr':{'placeholder':"Entrez le titre de l'article"}}) }}
	{{ form_row(formArticle.content, {'attr':{'placeholder':"Entrez le contenu de l'article"}}) }}
	{{ form_row(formArticle.image, {'attr':{'placeholder':"Entrez l'url de l'image"}}) }}

	{%	if mode %}
    <button type="submit" class="btn btn-primary">Modifier l'article</button>

	{% else %}

    <button type="submit" class="btn btn-primary">Creer l'article</button>
	{% endif %}

	{{ form_end(formArticle) }}


{% endblock %}
