{% extends 'base.html.twig' %}

{% block title %}Mon blog: Les articles{% endblock %}

{% block body %}
    <section>
        {% for article in articles %}
            <h2> {{ article.title }}   </h2>
            <div class="metainfo">écrit le {{article.createdAt | date('d/m/Y à H:i')}} </div>
            <img src="{{ article.image}}" alt="">
            <p> {{ article.content}}</p>
            <a href="{{ path('detail_art')}}" class="btn btn-primary"></a>

        {% endfor %} %}


    </section>

{% endblock %}


