{% extends 'base.html.twig' %}

{% block title %}Mon blog: Les articles{% endblock %}

{% block body %}
    <section>
        {% for article in articles %}
            <h2> {{ article.title }}   </h2>
            <div class="metainfo">écrit le {{article.createdAt | date('d/m/Y à H:i')}} </div>
            <img src="{{ article.image}}" alt="">
             {{ article.content | raw}}
            <a href="{{ path('detail_art', {'id': article.id}) }}" class="btn btn-primary"> Lire</a>

        {% endfor %}


    </section>

{% endblock %}


